{% extends "mongo_auth/base.html" %}

{% load i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
    <div class="account passwordreset">
        <h1>{% trans "Reset Password" %}</h1>
        <p class="instruction">{% blocktrans %}Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.{% endblocktrans %}</p>
        {% with form_submit=_("Initiate password reset") %}
            {% include "mongo_auth/form.html" %}
        {% endwith %}
    </div>
{% endblock %}
