{% extends "mongo_auth/base.html" %}

{% load i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
    <div class="account passwordreset">
        <h1>{% trans "Reset Password" %}</h1>
        {% if validlink %}
            <p class="instruction">{% blocktrans %}Please enter your new password twice so we can verify you typed it in correctly.{% endblocktrans %}</p>
            {% with form_submit=_("Change password") %}
                {% include "mongo_auth/form.html" %}
            {% endwith %}
        {% else %}
            <p class="error">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a new password reset.{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}
